apiVersion: v1 kind: Service
kind: Service                                                                                                                                                                   metadata:
  name: prometheus
  namespace: {{ k8s_namespace }}
spec:
  type: NodePort
  selector:
    app: prometheus
  ports:
    - port: 9090
      targetPort: 9090