apiVersion: v1
kind: Service
metadata:
  name: nginx
  namespace: {{ k8s_namespace }}
spec:
  type: {{ nginx_service_type | default('NodePort') }}
  selector:
    app: nginx
  ports:
    - port: 80
      targetPort: 80
