apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: {{ k8s_namespace }}
data:
  default.conf: |
    server {
        listen 80;
        location / {
            proxy_pass http://locatic-app:8080;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
        location /health {
            proxy_pass http://locatic-app:8080/health;
        }
        location /nginx_status {
            stub_status;
            allow 127.0.0.1;
            deny all;
        }
    }